.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;

}

.login > button {
    width: 300px;
    background-color: #738adb;
    color: #eff2f5;
    font-weight: 800;
}

.login > button:hover {
    background-color: black;
    color: #738adb;
}

.login > div > img{
    object-fit: contain;
    height: 150px;
}
